* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.logo-title-combo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-title-combo h1 {
    width: 66%;
    font-size: 38px;
    margin-top: 0;
    
    text-align: center;
}

.logo-title-combo img {
    width: 135px;
}

.information,
#sign-up-form {
    margin: 0;
    padding: 5% 10%;
}

.information {
    background-color: whitesmoke;
}

.information div {
    margin: 1rem 0;
}

.information button {
    background-color: whitesmoke;
    border: solid 2.5px rgb(137, 157, 163);
    border-radius: 8px;

    font-size: 16px;
    font-weight: bold;
    color: rgb(137, 157, 163); 

    padding: .75rem 1.25rem;
}

.information button:hover {
    background-color: rgb(137, 157, 163);
    color: whitesmoke;
    
    cursor: pointer;
}

.information button:active {
    padding: .7rem 1.15rem;
    margin: .05rem .1rem;
}

#sign-up-form {
    background-color: rgb(232, 239, 241);
}

#sign-up-form legend {
    margin-bottom: 1rem;
}

#sign-up-form .form-inputs .form-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.2rem;

    margin: .75rem 0;
}

#sign-up-form label {
    position: relative;
    left: 7px;
    bottom: 59px;
    font-size: 14px;
    color: dimgray;
}

#sign-up-form input {
    padding: 1.35rem .75rem .75rem .75rem;
    
    border: solid 1px rgb(200,200,200);
    border-radius: 4px;
    background-color: rgb(232, 239, 241);
}

#sign-up-form input:hover {
    border: solid 1px grey;
}

#sign-up-form input:focus {
    border: solid 1px dimgray;
}

#sign-up-form input:not(:placeholder-shown):invalid {
    border-color: rgb(210, 30, 58);
}

#sign-up-form input:not(:placeholder-shown):invalid + label {
    color:rgb(210, 30, 58);
}

#sign-up-form input:not(:placeholder-shown):valid {
    border-color: rgb(34, 139, 34);
}

#sign-up-form input:not(:placeholder-shown):valid + label {
    color: rgb(34, 139, 34);
}

a {
    color: rgb(137, 157, 163);
    font-weight: bold;
    text-decoration: none;
}

@media only screen and (min-width: 750px) and (max-width: 1100px) {
    body {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
  
    .header {
        padding: 20vh 0;
        width: 60%;
    }

    .logo-title-combo {
        display: flex;
        flex-direction: row;
        justify-content: center;

        padding: 0 1rem;
    }

    .header h1 {
        flex: 0;
        width: 60%;
    }

    .header img {
        position: relative;
        bottom: 25px;
    }

    #sign-up-form .form-inputs {
        display: flex;
        flex-direction: column;
    }

    #sign-up-form .form-inputs .form-block {
        margin: 0;
    }
}

@media only screen and (min-width: 1100px) {
    body {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }

    .header {
        padding: 20vh 0;
        width: 60%;
    }

    .logo-title-combo {
        display: flex;
        flex-direction: row;
        justify-content: center;

        padding: 0 1rem;
    }

    .header h1 {
        flex: 0;
        width: 60%;
    }

    .header img {
        position: relative;
        bottom: 25px;
    }

    #sign-up-form .form-inputs {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
        column-gap: 17px;
    }

    #sign-up-form .form-inputs .form-block {
        margin: 0;
    }
}